.container-fluid
  %h3 External API connections
  .row
    .col-9

      %table.table.table-hover
        - @external_api_connections.each do |eac|
          %tr
            %td= eac.name
            %td.pull-right
              = link_to "Edit", edit_knowledge_basis_external_api_connection_path(@knowledge_basis, eac), class: "btn btn-primary"
              = link_to "Delete", knowledge_basis_external_api_connection_path(@knowledge_basis, eac), method: :delete, class: "btn btn-danger", data: { confirm: "Deleting the external API connection may render placeholders without value. Do you want to continue?" }
    .col-3
      .list-group
        = link_to new_knowledge_basis_external_api_connection_path(@knowledge_basis), class: "btn btn-primary" do
          Create new API connection