#chat_form {
	margin-bottom: 0;
	width: 100%;
	font-size: 12px;
	position: fixed;
	bottom: 0;
	background: white;
	padding-top: 10px;
}

#chat_form #messages {
	font-size: 12px;
	margin-bottom: 100px;
}

#chat_form button {
	margin-top: 10px;
}

#chat_form #message {
	width: 99%;
}

.btn:focus, .form-control:focus {
  outline: none;
  box-shadow: none;
}