.container-fluid
  %h3 Users
  .row
    .col-10

      %table.table.table-hover
        %thead
          %tr
            %th{style: "min-width:200px"} Name
            %th
        %tbody
          - @users.each do |u|
            %tr
              %td= u
              %td.pull-right
                = link_to edit_admin_user_path(u) do
                  %i.fa.fa-cog
    .col-2
      .list-group
        = link_to new_admin_user_path, class: "btn btn-primary" do
          %i.fa.fa-plus-circle
          Add